#header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    padding: 50px;
    text-align: center;
    background-color: #0d478f;
}

h1{
    color: #250997;
    font-family: cursive;
}

.newBar{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #207ace;
}